[init]
  defaultBranch = main 

[user]
	name = Jared Connor
	email = jaredconnor301@gmail.com

[core]
	filemode = false
	autocrlf = input
  eol = lf
   
[safe]
	directory = *

[pack]
	windowMemory = 32m

[credential]
	helper = cache
